<div class="container">

    <!-- <button (click)="getGameList()">Check List</button> -->

    <h1  class="text-center">welcome to reversi ui</h1>
    <div class="row">
      <div class="col-8">
        <!-- <h1 class="text-center">Previous games</h1> -->
        <button (click)="getGameList()">Check Previous games</button>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Player1</th>
              <th scope="col">Player2</th>
              <th scope="col">StartDate</th>
              <th scope="col">StartTime</th>
              <th scope="col">EndDate</th>
              <th scope="col">EndTime</th>
              <th scope="col">Winner</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games">
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <!-- <h1 class="text-center">Active games</h1> -->
        <button (click)="getGameList()">Check Active games</button>
        <table class="table table-striped">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player1</th>
                <th scope="col">Player2</th>
                <th scope="col">StartDate</th>
                <th scope="col">StartTime</th>
                <th scope="col">Details</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let game of games">
                <th scope="row">1</th>
                <td>game.player1</td>
                <td>game.player2</td>
                <td>game.startDate</td>
                <td>game.startDate</td>
                <td>game.endDate</td>
                <td>game.endDate</td>
                <td>game.winner</td>
                <td>game.gameUUID</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

