<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/images/logo.png" width="40" height="40" class="d-inline-block align-top" alt="reversi logo">
    <span style="font-size:27px; margin-left:10px">Reversi</span>
  </a>
  <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
    <li id="home-nav-list-item" class="fa fa-home"><a routerLink="">Home</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a routerLink="new-game">
        <button class="btn btn-primary">
          <i class="fa fa-plus" aria-hidden="true"></i> New Game
        </button>
      </a>
    </li>
  </ul>
</nav>
