<div class="row">
  <table class="offset-2 col-sm-4">
    <tr *ngFor="let row of board; let rNum = index">
      <td *ngFor="let col of row; let cNum = index" [className]="emptyValueClass(rNum + cNum)">
        <span [className]="board[rNum][cNum] !== 'e' ? occupiedValueClass(board[rNum][cNum]): ''"></span>
      </td>
    </tr>
  </table>

  <div class="offset-2 col-sm-3">
      <h3>Game summary</h3>
      <p>
        <span (click)="previousMove()" class="clickable"><i class="fa fa-arrow-left fa-5x" aria-hidden="true"></i></span>
        <span style="margin-left: 20px; margin-right: 20px;"></span>
        <span (click)="nextMove()" class="clickable"><i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i></span>
      </p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Black</th>
            <th scope="col">White</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UserName:</td>
            <td>{{game?.player1.username}}</td>
            <td>{{game?.player2.username}}</td>
          </tr>
          <tr>
            <td>Score:</td>
            <td>{{blackScore}}</td>
            <td>{{whiteScore}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>




