<div class="row">
  <table class="offset-2 col-sm-4">
    <tr *ngFor="let row of board; let rNum = index">
      <td *ngFor="let col of row; let cNum = index" [className]="emptyValueClass(rNum + cNum)">
        <span [className]="board[rNum][cNum] !== 'Empty' ? occupiedValueClass(board[rNum][cNum]): ''"></span>
      </td>
    </tr>
  </table>

  <div class="offset-1 col-sm-5">
      <h3>Game summary</h3>
      <h4 *ngIf="gameOver()" class="winner">
        Winner: {{winner()}}
      </h4>
      <span style="float: left">
        <a [hidden]="!hasPreviousCommand() || autoPlay" (click)="previousMove()" class="nav-button unselectable">&laquo; Previous</a>
      </span>
      <a (click)="toggleAutoPlay()" class="nav-button unselectable">Toggle Auto Play</a>
      <span style="float: right">
        <a [hidden]="!hasNextCommand() || autoPlay" (click)="nextMove()" class="nav-button unselectable">Next &raquo;</a>
      </span>

      <table class="table table-striped game-info">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{cellValueForUsername(game?.player1.username)}}</th>
            <th scope="col">{{cellValueForUsername(game?.player2.username)}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>UserName:</td>
            <td>{{game?.player1.username}}</td>
            <td>{{game?.player2.username}}</td>
          </tr>
          <tr>
            <td>Score:</td>
            <td>{{scoreForUsername(game?.player1.username)}}</td>
            <td>{{scoreForUsername(game?.player2.username)}}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>




